:root {
  --font-family-main: "Inter-Variable", sans-serif;
  --font-family-accent: "Press Start 2P", monospace;

  --text-weight: 400;
  --title-weight: 700;

  --main-title-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --main-description-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  --title-font-size: 1.125rem;
  --text-font-size: 1.125rem;
  --button-font-size: 0.875rem;

  --color-content: #000;
  --color-button: #fff;
  --contour-color: #000;

  --button-text-color: #fff;
  --button-hover-color: #000;

  --animation-fill-color: #ff0000;
  --label-outline-color: #fff;

  --section-background: #fff;
  --page-background:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  --content-width: clamp(375px, 100vw, 700px);
  --section-gap: clamp(53px, calc(54.352px - 0.0939vw), 54px);
  --description-gap: 25px;
  --description-padding: 31px 25px 23px;

  --header-padding-block: clamp(122px, calc(112.77px + 2.46cqw), 130px);
  --header-padding-inline: clamp(16px, calc(-106.88px + 32.77cqw), 122.5px);
  --header-block-size: clamp(327px, calc(312.55px + 3.8498vw), 368px);

  --save-button-width: clamp(306px, calc(295.74px + 2.727vw), 335px);
  --save-button-height: clamp(55px, calc(97.17px - 3.05vw), 84px);
  --save-button-padding: clamp(17px, calc(12.069cqw - 19.94px), 20.5px) 20px;
}
